main{
    font-family: 'Roboto', sans-serif;
    color:#7e7e7e ;

}
h1{
color: #31455D;
}

h2{
    color:#31455D ;
}
.gauche{
    width: 50%;
}
.droite{
    width: 50%;
}
.droite h2{
    text-align: center;
    font-size: 5em;
    vertical-align: top;
    padding-bottom: 4%;
    padding-top: 2%;
}
.gauche{
    flex-basis: 58%;
    padding: 0 1% 0 0.5%;
    line-height: 180%;
}
.droite p{
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 0.5%;
}
.gauche form{
    background-color: #303030 ;
    margin: auto;
    width: 96.5%;
    padding: 0 2% 0 2%;
    color: #f9f9f9;
    line-height: 220%;
}
.label {
    text-align: left;
    width: 50%;
}
.input {
    width: 100%;
    clear: both;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
}
button {
    color: #f9f9f9;
    width: 100%;
    margin: auto;
    border: none;
    margin-top: 2%;
    padding: 1%;
}
.mentions {
    margin-top: 5%;
    padding-top: 0;
}
.mentions p{
    text-align: left;
}
.wrap{
    display: flex;
}
img{
margin: 0 auto;
padding: 10%;
;
}

 