header.sticky {

  width: 100%;
  background: white;
}

header #head-wrap {

  max-width: 100%;
  height: 80px;
  padding: 10px 0;
}

header #head-wrap .wrap {

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.p-bienvenue {

  font-family: 'Oswald', sans-serif;
  color: #31455d;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;

}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.bienvenue {
  flex: 1;
  text-align: center;
  border-left: 1px dotted#31455d;
  border-right: 1px dotted #31455d;

}


nav 
{
  /* margin: 100px auto; */
  width: 100%;
  height: 60px;
  background: #48435C;
}

nav .main_pages 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .main_pages a 
{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: white;
}

nav a:hover 
{

  background: #fbb52d;
  color: #303030
}


.icons {
  flex: 1;
  text-align: center;
  font-size: 2rem;
}

.icons a {
  color: #31455d;
  text-decoration: none;
}

.icons a:hover {

  color:#fbb52d;
}

label, #toggle
{
  display: none;
}

/* ===== RESPONSIVE ===== */

@media screen and (max-width: 480px) {


  header.sticky {

      width: 100%;
      background: white;
  }
  
  header #head-wrap {
  
      display: flex;
      flex-direction: column;
  }
  
 
  .p-bienvenue {
  
      font-family: 'Oswald', sans-serif;
      color: #31455d;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
  
  }
  
  .logo {
      order: 1;
      flex: 1;
      display: flex;
      justify-content: center;
  }
  
  .home-img {
      display: block;
      max-width: 100%;
      height: auto;
  }
  
  .bienvenue {
      display: none;
  
  }


  nav
  {
      height: 60px;
  }

  nav .main_pages 
  {
      display: none;
      flex-direction: column;
      background: #31455d;
      height: 220px;
  }

  nav .main_pages a {
      width: 70%;
      background: #5A5766;
      border-bottom: 1px dotted;
      color: white;
  }

  nav .main_pages a:hover {
      background: #48435C;
  }

  

  label 
  {
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      font-size: 40px;
      color: white;
      cursor: pointer;
  }

  #toggle:checked + .main_pages {
      display: flex;
  }



  
  
  .icons {
      order: 2;
      flex: 1;
      text-align: center;
      font-size: 2rem;
  }
  
  .icons a {
      color: #31455d;
      text-decoration: none;
  }
  
  .icons a:hover {
  
      color:#fbb52d;
  }
}





body{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  margin: 0;
}
h1{
  text-align: center;
  font-family: 'Oswald';
  color: #31455D;
 font-size: 25px;
 text-transform: uppercase;
 margin-top: 2em;
 margin-bottom: 2em;

}

#banniere{
  background-image: url(medias/hero-demarches.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}




  /*p{
    font-size: 17px;
    color:  #ffffff;
    margin: 100px;
    padding-left: 5%;
    font-weight: bold;
    font-family: 'roboto';
   
  }*/
/*
.partie1 p {
  font-size: 14px;
  color:  #ffffff;
  margin: 100px;
  padding-left: 5%;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.partie2 p {
  font-size: 14px;
  color:  #ffffff;
  margin: 100px;
  padding-left: 5%;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.etat{
  text-decoration: none;
  color:  #fff8f8;
}



  .barre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 60%;
    height: 25%;
    background-color: #fbb52d;
  
    
    }
    */

  
/*
  .partie1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    
  }

  .partie2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    
  }
 */
 
.demarche{
  background-color: #fbb52d;
  text-decoration:none ;
  color: white;
 font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  flex-basis: 20%;
  box-sizing: border-box;
  display: flex;
align-items: center;
justify-content: space-between;
}

.fleche{
  width: 45px;

}
.demarches{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 60px;

}

.demarche:hover{
  background-color: #31455D;
}
  /*Ne rien écrire en dessous*/
  footer{
    font-family: 'Roboto Slab', serif;
}

.footerflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* gap: 1px; */
}

.footeradresse{
    
    width: 50%;
    background-color: #31455d;
    color: white;
    min-height: 30vh;
    padding-bottom: 10px;
}

.footerh2{
text-align: center;
}


.footerp{
    text-align: center;
}

footer a{
    margin: 0 auto;
    display: block;
}

.footerbutton{
    text-decoration: none;
}

.footerbutton1{
    padding: 10px 50% 10px 14%;
    margin-left: 20%;
    cursor: pointer;
    width: 20%;
    height: 15%;
}

.footerbutton1:hover{
opacity: 0.75;
}

.footerhoraire{
    text-align: center;
    width: 50%;
    align-items: center;
    background-color: #31455d;
    color: white;    

}

.footercopyright{
    text-align: center;
    flex: 1;
    background-color:  #fbb52D;
    color: white;
}

.footercopyright li {

    display: inline-block;
}

.footercopyright a:hover {
    text-decoration: none;
}

.footercopyright .mentions {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

.footercopyright p {

    text-align: center;
}

.event-footer {

    background-color: #31455d;
    color: #fff;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);

}

.event-footer:hover {

    background-color: #31455d;
    color: #fbb52D;
    text-decoration: none;
    padding: 14px 15px;
    width: 20%;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

@media screen and (max-width: 480px) {
  .fleche{
    width: 30px;
  }

  .demarche{
    flex-basis: 45%;
  }

  .demarches{
    margin: 10px;
    gap: 10px;
    margin-bottom: 60px;
  }
  #banniere{
    display: none;
  }

  .footeradresse{
    width: 100%;
    margin-bottom: 2%;
  }
  
  .footerhoraire{
    width: 100%;
    margin-bottom: 2%;
  }
  
  a.event-footer{
    width: 30%;
    background-color: #405670;
  }
  
}




