/*Ne rien écrire au dessus*/
h2{
  text-align: center;
 font-family:"Oswald";
 color: #31455D;
 font-size: 50px;

}
img{
    width: 70%;
    margin: 15%;
    margin-top: 5%;
}
.entete{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}


  .fleche{
    width: 20%;
   margin-left:80%;
   margin-bottom:5%;
   
    
  }

  p{
    font-size: 17px;
    color: #ffffff;
    margin: 100px;
    padding-left: 5%;
    font-weight: bolder;
    font-family:'Roboto';
   
  }
  .barre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    color: #ffffff;
    
    }
    

  .barre2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    
  }

  .barre3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    

  }

  .barre4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    
  }

  .barre5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    
  }

  .barre6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    
  }

  .barre7{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    
    
  }

  .barre8{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 8%;
    border-width: 7px;
    background: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgb(119, 119, 119) 35%, rgb(255, 248, 248) 100%);
    margin-left: 10%;
    width: 70%;
    height: 20%;
    
  }

  .partie1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .partie2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  /*Ne rien écrire en dessous*/
    


