/*Ne rien écrire au dessus*/
body{
  font-family: 'roboto';
}
h1{
  text-align: center;
 font-family:"Oswald";
 color: #31455D;
 font-size: 50px;

}
img{
    width: 70%;
    margin: 15%;
    margin-top: 5%;
}



  .fleche{
    width: 25%;
   margin-left:74%;
   margin-bottom:5%;
   
    
  }

  p{
    font-size: 17px;
    color:  #ffffff;
    margin: 100px;
    padding-left: 5%;
    font-weight: bold;
    font-family: 'roboto';
   
  }

.etat{
  text-decoration: none;
  color:  #fff8f8;
}



  .barre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-left: 10%;
    width: 70%;
    height: 20%;
    background-color: #fbb52d;
  
    
    }
    

  

  .partie1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .partie2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
 
 
  /*Ne rien écrire en dessous*/
    


