html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    color: #7e7e7e;
    font-family: 'Roboto Slab', serif;
}

/* ==== HEADER ===== */

.sticky {

    position: sticky;
    width: 100%;
    background: white;
}

#head-wrap {

    max-width: 100%;
    height: 80px;
    padding: 10px 0;
    box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
}

.wrap {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bienvenue {
    flex: 1;
    text-align: center;
    border-left: 1px dotted#31455d;
    border-right: 1px dotted #31455d;

}

.navbar{
    flex-basis: 100%;
    padding-bottom: 0.1rem;
    padding-top: 00.1rem;
    justify-content: space-between;
    background-color: #31455d;
    text-align: center;

 
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
}
.navbar ul{
    align-items: center;
    list-style: none;
}
.navbar li{
    display: inline;
    padding: 0 3% 0 3%;
}

li span{
    word-spacing: 2px;
}
li a {
    color: white;
    position: relative;
    text-decoration: none;
}
li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: none;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
li a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}


.icons {
    flex: 1;
    text-align: center;
    font-size: 2rem;
}

.icons a {
    color: #31455d;
    text-decoration: none;
}


/* === MAIN === */


h1 {

    font-family: 'Oswald', sans-serif;
    color: #31455d;

}


section .bg-main {
    background-image: url(medias/brussels.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
}

#recherche .seek {

    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    /* margin-bottom: 20px; */
    padding-top: 220px;

}

#recherche .seek input {

    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    background-color: #FFF;
    color: #7e7e7e;
    width: 520px;
    /* max-width: 100%; */
    font-size: 1rem;
    font-weight: 400;

}

#recherche .loupe {

    
    right: 0;
    width: 30px;
    height: 30px;
    display: block;
    background-size: 20px;
    background-image: url(/medias/search-512.webp);
    /* transform: translateY(-50%); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-100%);
    border: none;
    background-color: white;
    cursor: pointer;

}


label {
    display: none;
}

.section-liens {

    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
    padding-bottom: 100px;

}

.services {

    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}


h2.titre-liens {

    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.section-liens .services-clic {

    max-width: 115px;
    width: 20%;
    text-align: center;

}

.picto {

    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

/* .picto::before {

    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-color: #FFF;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%,-50%) scale(1.4);
    transform: translate(-50%,-50%) scale(1.4);
    opacity: 0;
    transition: all,.3s;
} */

.picto img {

    max-width: 60px;
    max-height: 60px;
}

/* .picto img:hover {

    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
} */

.link-title {

    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 15px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    transition: all,.3s;
}

a.services-clic {

    text-decoration: none;
}

a.services-clic:hover .picto {

    background-color: #fbb52d;
    transition: ease-in 0.5s;
   
}

.hidden {
    display: none;
}

.liens-service {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #fbb52d;
}

.liens-txt {

    font-size: 1rem;
    text-transform: uppercase;
  
}

#bouton-services {
    margin: auto;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: #fbb52d;
}