body{
  margin-left: 8%;
  margin-right: 8%;
  font-family: 'Roboto Slab', serif;
}

/*Header*/

.sticky {

  position: sticky;
  width: 100%;
  background: white;
}

#head-wrap {

  max-width: 100%;
  height: 80px;
  padding: 10px 0;
  box-shadow: 0px 2px 3px rgb(0 0 0 / 10%);
}

.wrap {

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.bienvenue {
  flex: 1;
  text-align: center;
  border-left: 1px dotted#31455d;
  border-right: 1px dotted #31455d;

}

.navbar{
  flex-basis: 100%;
  padding-bottom: 0.1rem;
  padding-top: 00.1rem;
  justify-content: space-between;
  background-color: #31455d;
  text-align: center;


}
.navbar a{
  color: white;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
}
.navbar ul{
  align-items: center;
  list-style: none;
}
.navbar li{
  display: inline;
  padding: 0 3% 0 3%;
}

li span{
  word-spacing: 2px;
}

li a {
  color: white;
  position: relative;
  text-decoration: none;
}

li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: white;
  bottom: 0;
  left: 0;
  transform-origin: none;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

li a:hover::before {
  transform-origin: center;
  transform: scaleX(1);
}


.icons {
  flex: 1;
  text-align: center;
  font-size: 2rem;
}

.icons a {
  color: #31455d;
  text-decoration: none;
}

/*Evenements*/

h1{
  text-indent: 15%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.select{
  text-indent: 15%;
  padding-bottom: 5em;
}

.logo{
  width: 15%;
}

.flex, .flex1{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  text-align: center;
  margin-bottom: 3%;
}


.image1, .image3{
  width: 30em;
  height: auto;
  padding-top: 0.5em;
  }

  .image3{
    height: 35vh;
  }

  .image1:hover, .image3:hover{
    opacity: 0.75;
  }

.image2, .image4{
  height: auto;
  width: 30em;
  padding-top: 0.5em;
}
.image4{
  height: 35vh;
}

.image2:hover, .image4:hover{
  opacity: 0.75;
}

.p5,.p6{
  padding-top: 1.5em;
  gap: 14em;
  width: 87%;
  padding-right: 5%;
}

.italique{
  font-style: italic;
  text-align: left;
}

h3{
  text-decoration: none;
  color: black;
}

.texte, .texte1{
padding-left: 15%;
}


.texte h3, .texte1 h3{
  text-align: left;
}

#p1, #p2{
  width: 100%;
  text-align: left;
}

.parade{
  padding-right: 20%;
  padding-left: 15%;
  text-align: left;
  width: 82%;
}

.imagetexte, .imagetexte1{
  flex: 1;
  border: 1px dotted;
  min-height: 68vh;
  background-color: #F5F5F5;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
}

.imagetexte1{
  min-height: 72vh;
}

.image2texte, .image3texte{
  flex: 1;
  border: 1px dotted;
  min-height: 68vh;
  background-color: #f5F5F5;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 10%);
}

.image3texte{
  min-height: 72vh;
}

.positionning{
  position: relative;
  left: 46%;
}

.positionning1{
  position: relative;
  left: 81%;
  top: 2.5em;
}

a.button{
 background-color: #fbb52D;
 color: #fff;
 font-family: Trebuchet MS;
 font-size: 15px;
 text-decoration: none;
 padding: 14px 15px;
 border: 0px solid #000;
 border-radius: 10px;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 width: 30%;
}

.fleche{
  width: 15%;
  margin-left: 10px;
  border-radius: 100%;
}

.positionning2{
    position: relative;
    left: 46%;
    top: 1em;
}

a.button1{
  background-color: #fbb52D;
  color: #fff;
  font-family: Trebuchet MS;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 31%;
}

.positionning3{
  position: relative;
  left: 82%;
  top: 1em;
}

a.button3{
  background-color: #fbb52D;
  color: #fff;
  font-family: Trebuchet MS;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30%;
 }

 a.button4{
  background-color: #fbb52D;
  color: #fff;
  font-family: Trebuchet MS;
  font-size: 15px;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 31%;
 }

 /*Actualités*/

#actualitéh2{
  text-align: center;
  margin-bottom: 4%;
}

 /*Carousel*/

 .custom-slider {
  display: none;
}

.slide-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;        
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}

.prev{
  left: 15px;
}

.next{
  right: 15px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.slide-text {
  position: absolute;
  background-color: #fbb52D;
  font-size: 15px;
  padding: 15px;
  padding-right: 17px;
  bottom: 15px;
  max-width: 800px;
  width: 96%;
  text-align: center;
}

.slide-img{ 
  width: 100%; 
  height: 300px;
  object-fit: cover;
  object-position: center;
 }

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

 






























@media screen and (max-width: 750px){



}

